<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BiblioBeats</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <section id="header">
    <a href="#" class="navlogo">
      <!--<img src="logo3.png" class="logo" alt="Logo" />-->
      <h2 class="logotext">BiblioBeats</h2>
    </a>
    <div>
      <ul id="navbar">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Get Started</a></li>
      </ul>
    </div>
  </section>

  <section id="bodyer">
    <div class="text-content">
      <!--<h2>BiblioBeats</h2>
      <h4>You Can Ever Make</h4>
      <h4>Is In Your Own</h4>
      <h2>Health</h2>-->
      <a class="button" href="/login">Login</a>
      <!--<button onclick="redirect()">Login</button>-->
    </div>
    <div class="image-container">
      <img src="/static/bggb.png" class="poto" alt="Illustration" />
    </div>
  </section>
</body>
</html>